@charset "utf-8";

*{
  margin: 0;
  padding: 0;
}
body{
  font:
}

div#wrap{
  width:100%;
}

div#innerwrap{
  width:1600px;
  height: 1250px;margin: 0 auto;
  outline: 3px solid black;display: grid;
}

div.header{
  width:100px;
  height:50px;
}

div.headerbox{display: grid; margin: 0 auto;
  grid-template-columns:  repeat( auto-fill, minmax(320px,1fr) ); 
  grid-template-rows:  repeat( auto-fit, minmax(50px,1fr) );float: left;outline: 3px solid black; text-align: left; box-sizing: border-box;}


div.headerbox{
  line-height: 40px; 
  background-color: pink;
}

div.headerbox:hover{
  background-color: aliceblue;font: bold;
}

div.header div.headerbox span{
  float: right; font-size: 18px;
}

div.box{
  width:533px; 
  height:400px;float: left;
  line-height: 50px;padding-left: 10px; 
  box-sizing: border-box;
  outline: 3px solid black;
}
div.box:after {
  content: ""; display: block; clear: both;
}
div.box div.inbox span {
  display: inline-block;
  background-color: aqua;
}
div.box div.inbox span:nth-child(2) {
  margin-left: 350px;
}

div.box:hover{
  background-color: aliceblue;font: bold;
}

div.box img{
  width:300px;
  height:280px; padding-left: 130px;
  clear: both;
}


