@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

*{
  margin:0;
  padding:0 ;
}

div#wrap{
  width:100%;  background-color: #ff7400;
}

div#innerwrap{
  width:2000px;
  margin:0 auto;
  display: grid; 
  grid-template-columns:2000px;
  outline: 2px solid red;
  font-size: 18px; text-align: center; font-weight: 600;
  background-color: #ff7400;
}

div.leftbox:hover{
  color: #fff;
}

div.leftbox{
  width:1200px;
  display: grid; 
  grid-template-rows:repeat(12,200px);
  outline: 2px solid red; 
}

div.leftbox div.left{
  width:100px;
  height:200px; color: red;
  outline: 2px solid red;
  display: grid;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-lr;
    writing-mode: tb-lr;
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    padding: 5px;
}


div.leftbox div.left2{
  width:800px; color: red; font-size:150px ;
  height:210px;text-align: left; display: grid; 
  grid-template-columns:repeat(12,800px);
  grid-template-rows:repeat(12,100px);
  outline: 2px solid red;
}
div.leftbox div.innerbox{
  grid-template-columns:repeat(12,310px);
  grid-template-rows:repeat(12,100px); 
  outline: 2px solid red;
  display: grid;    

    grid-template-rows: 1fr 1fr;
}
div.leftbox div.left3{
  width:310px;line-height: 100px;
  height:100px; 
  outline: 2px solid red;
}
div.innerbox button{
  text-align: center;
  border: 0;
  background-color: red;
  color: #fff;
  height: 80px;
  width: 80%; margin-top: 5%; margin-left:10% ;
  border-radius: 50px;
}

/* /* div.midbox{ */
  width:80px;
  height:1600px;position: absolute;
  float: right;
}
div.midbox span:nth-child(2){
  height: 1200px;
  background-color: #db7093;
  writing-mode: vertical-rl;
  writing-mode: tb-rl;
  writing-mode: vertical-rl;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 20px;
  font-size: 30px;
  float: left;
  height:800px;
  box-sizing: border-box;

}
div.midbox span:first-child{
background-color: #8a2be2;
    writing-mode: vertical-rl;
    writing-mode: tb-rl;
    writing-mode: vertical-rl;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 20px;
    font-size: 30px;
    transform: rotate(180deg);
    height:800px;
    box-sizing: border-box;
}
div.rightbox{
  width:800px;
  height:1600px;
  outline: 2px solid red;
  background-color: tomato;
  float: right; 
}
div.lorembox{
  width:300px;
  height:150px;
  text-align: left;
  margin: 5px; float: left;padding: 10px 40px;
}

div.lorembox div.lorem{
  font-size: 40px;
} */